.post {
    border: 1px solid rgb(125, 125, 201);
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
    padding-top: 4px;
}

#compose {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
}

#profile {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
}

.post_edit {
    color:blue;
}

.post_follow {
    padding-left: 5px;
    display:inline-block;
    color: blue;
}

.post_text_editable {
    padding-left: 25px;
    padding-top: 2px;
}
.like_body {
    float:left; 
    display:inline-block;
}

.like_counter {
    padding-left: 25px;
    padding-top: 2px;
}

.comments_body {
    margin-left: 5%;
    margin-right: 20%;
}

.comment {
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 4px;
}

.comments_hide {
    margin-top: 10px;
}

.compose_btn {
    margin-bottom: 15px;
}

.page_nav {
    margin-top: 20px;
}