{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="main_view">
    <div id="compose">
        <p id="create_post">Create Post ↓</p>
        <div id="compose_view">
            <h3>New Post</h3>
            <form id="compose_form">
                <textarea class="form-control" id="post_text" placeholder="Body"></textarea>
                <input type="submit" value="Post" class="btn btn-primary compose_btn"/>
            </form>
        </div>
    </div>

    <div data-page="1" id="posts"></div>


</div>

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'network/default.js' %}?1510"></script>
    <script src="{% static 'network/all_posts.js' %}?1510"></script>
{% endblock %}