{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div id="main_view">
    <div data-user={{ username }} id="profile">
        <h3 id="profile_user">User: {{ username }}</h3>
        <p>Followers: {{ followers }}</p>
        <p>Followees: {{ followees }}</p>
    </div>
    <div data-page="1" id="posts"></div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/default.js' %}?1510"></script>
    <script src="{% static 'network/profile.js' %}?1510"></script>
{% endblock %}