{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ category }}</h2>
    {% for item in items %}
    <div>
        <a href="{% url 'item' item.id %}">{{ item.name }}</a>
        <p>{{ item.description }}</p>
        {% if item.image %}
            <img src="{{ item.image }}" width=150px height=150px>
        {% else %}
            <img src="{% static 'auctions/nophoto.jpg' %}" width=150px height=150px>
        {% endif %}
        <p>Price: {{ item.price }}$</p>
        <p>Created: {{ item.created }}</p>
    </div>
    <hr>
    {% endfor %}
{% endblock %}