{% extends "auctions/layout.html" %}

{% block body %}

<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder">{{ header_title }}</h1>
            <p class="lead fw-normal text-white-50 mb-0">Already have an account? <a href="{% url 'login' %}">Login here.</a></p>
        </div>
    </div>
</header>

    <div class="row justify-content-center">
        <div class="col-md-4 order-md-1">
          <br><br>
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username:</label>
                <div class="input-group">
                    {{ form.username }}
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <div class="input-group">
                    {{ form.email }}
                </div>
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <div class="input-group">
                    {{ form.password }}
                </div>
            </div>
            <div class="mb-3">
                <label for="password">Password Confirmation:</label>
                <div class="input-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Password Confirmation">
                </div>
            </div>
            <input class="btn btn-primary justify-content-center" type="submit" value="Register">
            <br><br>
        </form>
        </div>
      </div>
      <br><br>

{% endblock %}