{% extends "flights/layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}
    <h1>Flights</h1>

    <table>
        <tr>
            <th>#</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Duration</th>
        </tr>
        {% for flight in flights %}
        <tr>
            <td><a href="{% url 'flight' flight.id %}">{{ flight.id }}</a></td>
            <td>{{ flight.origin }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.duration }}</td>
        </tr>
        {% endfor %}

{% endblock %}

